POSTGRES_USER=thanasak  
POSTGRES_PASSWORD=1
PGADMIN_DEFAULT_EMAIL=s6302041610103@email.kmutnb.ac.th
PGADMIN_DEFAULT_PASSWORD=1
DATABASE_CLIENT=postgres
DATABASE_HOST=192.168.211.143
DATABASE_PORT=54321
DATABASE_NAME=thanasak  
DATABASE_USERNAME=thanasak
DATABASE_PASSWORD=1
DATABASE_SSL=